<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Daily report</title>
<link rel="stylesheet" type="text/css" th:href="@{/public/bootstrap_4_3_1/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/public/css/mycss.css}"/>
<script th:src="@{/public/js/jquery36.js}"></script>
<script th:src="@{/public/js/myjs.js}"></script>
</head>
<body>
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/home}"><img alt=""
			th:src="@{/public/images/logo/logo.png}"></a>				
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#my-nav-bar" aria-controls="my-nav-bar"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="my-nav-bar">
			<!--HTML các thành phần trình bày trên Navbar-->
			<ul class="nav navbar-color">
				<li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a>
				</li>								
				<li class="nav-item"><a class="nav-link" th:href="@{/staff}">Daily report</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/staff/profile}">Profile</a>
				</li>
			</ul>
		</div>
		<div class="user-authenticated" sec:authorize="isAuthenticated()">
			Authenticated as <b><span sec:authentication="name">Anonymous</span></b>
			with role&nbsp;<span sec:authentication="principal.authorities">Roles</span>
		</div>
		<div class="right-side">
			<a href="javascript: logoutForm.submit()"><button type="button" class="btn btn-success">Logout</button></a>			
			<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">				
				<input type="submit" value="Logout"/>
			</form>			
		</div>
	</nav>
</header>

<div class="container-fluid">
	<div class="center">
		<h1 style="color: green;">Castis HR management</h1>
		<h3 style="color: green;">Work list</h3>
	</div>
	
	<div class="row">
	<div class="col-md-12 mx-auto">		
		<div class="table-responsive">
				<table class="table table-bordered table-striped table-hover table-sm">
				  <thead>
				    <tr>
				      <th scope="col">Id</th>
				      <th scope="col">Issued date</th>
				      <th scope="col">Reporter</th>
				      <th scope="col">Project</th>
				      <th scope="col">Position</th>
				      <th scope="col">Work details</th>
				      <th scope="col">Time required</th>
				      <th scope="col">Score</th>
				      <th scope="col">Level of work</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="report : ${reports}">
				      <th scope="row" th:text="*{report.getId()}"></th>
				      <td th:text="*{report.getIssuedDate()}"></td>
				      <td th:text="*{report.getReporter()}"></td>
				      <td th:text="*{report.getProject()}"></td>
				      <td th:text="*{report.getPosition()}"></td>
				      <td th:text="*{report.getWorkDetails()}"></td>
				      <td th:text="*{report.getTimeRequired()+' MD'}"></td>
				      <td th:text="*{report.getScore()+' MD'}"></td>
				      <td th:text="*{report.getLevelOfWork()}"></td>
				    </tr>				    
				  </tbody>
				  <tfoot>
				    <tr>
				      <th scope="col">Id</th>
				      <th scope="col">Issued date</th>
				      <th scope="col">Reporter</th>
				      <th scope="col">Project</th>
				      <th scope="col">Position</th>
				      <th scope="col">Work details</th>
				      <th scope="col">Time required</th>
				      <th scope="col">Score</th>
				      <th scope="col">Level of work</th>
				    </tr>
				  </tfoot>
				</table>
			</div>
			<div>
				<div style="display: inline; float: right;">
					<nav aria-label="Page navigation">			
					  <ul class="pagination justify-content-end">
					    <li class="page-item" th:if="${page > 1}">
					      <a class="page-link" th:href="@{'/staff?page=' + ${page - 1}}" tabindex="-1">Previous</a>
					    </li>					    
					    <li class="page-item" th:each="p: ${pageable}"><a class="page-link" th:href="@{'/staff?page=' + *{p}}" th:text="*{p}"></a></li>					    
					    <li class="page-item" th:if="${page < reports.getTotalPages()}">
					      <a class="page-link" th:href="@{'/staff?page=' + ${page + 1}}">Next</a>
					    </li>
					  </ul>
					</nav>
				</div>			
				<div style="display: inline; float: left;">
					<button type="button" th:onclick="pageRedirect('/report/add')" class="btn btn-primary">+ Add report</button>
				</div>									
			</div>			
	</div>			
	</div>	
</div>
</body>
</html>