<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Not found</title>
<link rel="stylesheet" type="text/css" th:href="@{/public/bootstrap_4_3_1/css/bootstrap.min.css}"/>
<script type="text/javascript" th:src="@{/public/js/jquery36.js}"></script>
<style type="text/css">
	button{
		background-color: green;
		color: white;
	}
	div{ 
		padding: 10px;
	}
</style>
</head>
<body>
<div style = "color: green; text-align: center;">
	<h1 style = "color: green; text-align: center;">Castis HR management</h1>
	<h1 style = "color: green; text-align: center;">Something went wrong in find something. We couldn't find the page you were looking for </h1>	
	<div><a class="btn btn-success" th:href="@{/home}">Go home</a></div>
	<div><a th:href="@{/}"><button type="button" class="btn btn-primary">Go to list page</button></a></div>
</div>
</body>
</html>