body {
	
}

a {
	text-decoration: none !important;
}

.a-action{
	text-decoration: underline !important;
	margin-left: 15px;	
} 

h1, h2, h3 {
	font-family: 'Kaushan Script', cursive;
}

.edit-profile-title{
	font-family: 'Kaushan Script', cursive;
	color: red;
}

.header {
	padding: 25px 0;
}

.navbar-color a{
	color: #92D13D
}

.left-side {
	float: left;
}

.right-side {
	float: right;
}

.parrent {
	display: block;
}

.center {
	text-align: center;
	padding-bottom: 20px;
}

.user-authenticated{
	padding: 0 15px;
	color: #92D13D
}

.div-search{
	display: inline-block;
	margin-left: 20px;
}

td {
	cursor: pointer;
}

.myform {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	padding: 1rem;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 1.1rem;
	outline: 0;
	max-width: 500px;
}

.tx-tfm {
	text-transform: uppercase;
}

.mybtn {
	border-radius: 50px;
}

.login-or {
	position: relative;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}

.hr-or {
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.google {
	color: #666;
	width: 100%;
	height: 40px;
	text-align: center;
	outline: none;
	border: 1px solid lightgrey;
}

form .error {
	color: #ff0000;
}