<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Castis manager</title>
<link rel="stylesheet" type="text/css" th:href="@{/public/bootstrap_4_3_1/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/public/css/mycss.css}"/>
<script th:src="@{/public/js/jquery36.js}"></script>
<script th:src="@{/public/js/myjs.js}"></script>
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" th:href="@{/home}"><img alt="" th:src="@{/public/images/logo/logo.png}"></a>
   <button class="navbar-toggler" type="button"
           data-toggle="collapse" data-target="#my-nav-bar"
           aria-controls="my-nav-bar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="my-nav-bar">
        <!--HTML các thành phần trình bày trên Navbar-->
        <ul class="nav navbar-color">
		    <li class="nav-item">
		        <a class="nav-link" th:href="@{/home}">Home</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link active" th:href="@{/admin/user}">User</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" th:href="@{/project}">Project</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" th:href="@{/admin}">Daily report</a>
		    </li>
		    <li class="nav-item"><a class="nav-link" th:href="@{/admin/profile}">Profile</a></li>
		</ul>
   </div>
   <div class="user-authenticated" sec:authorize="isAuthenticated()">
		Authenticated as <b><span sec:authentication="name">Anonymous</span></b>
		with role&nbsp;<span sec:authentication="principal.authorities">Roles</span>
	</div>
	<div class="right-side">
		<a href="javascript: logoutForm.submit()"><button type="button" class="btn btn-success">Logout</button></a>			
		<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">				
			<input type="submit" value="Logout"/>
		</form>			
	</div>
</nav>
</header>


<div class="parrent">	
	<div class="feft-side">
		<div class="center">
			<h1 style = "color: green; ">Castis HR management</h1>	
			<h1 style = "color: green; ">Index page</h1>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">First</th>
				      <th scope="col">Last</th>
				      <th scope="col">Handle</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">1</th>
				      <td>Mark</td>
				      <td>Otto</td>
				      <td>@mdo</td>
				    </tr>
				    <tr>
				      <th scope="row">2</th>
				      <td>Jacob</td>
				      <td>Thornton</td>
				      <td>@fat</td>
				    </tr>
				    <tr>
				      <th scope="row">3</th>
				      <td>Larry</td>
				      <td>the Bird</td>
				      <td>@twitter</td>
				    </tr>
				  </tbody>
				</table>
			</div>			
		</div>
	</div>	
	<button type="button" th:onclick="showAlert(nameJs);" class="btn btn-primary">Show Alert</button>
</div>
<script th:inline="javascript">
    var nameJs = /*[[${name}]]*/;
</script>
</body>
</html>