<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login failed</title>
<link rel="stylesheet" type="text/css" th:href="@{/public/bootstrap_4_3_1/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/public/css/mycss.css}"/>
<script type="text/javascript" th:src="@{/public/js/jquery36.js}"></script>
<style type="text/css">
	button{
		background-color: green;
		color: white;
	}
	div{ 
		padding: 10px;
	}
</style>
</head>
<body>
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/home}"><img alt=""
			th:src="@{/public/images/logo/logo.png}"></a>				
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#my-nav-bar" aria-controls="my-nav-bar"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="my-nav-bar">
			<!--HTML các thành phần trình bày trên Navbar-->			
		</div>		
	</nav>
</header>

<div class="container-fluid">
	<div class="center">
		<h1 style="color: green;">Castis HR management</h1>
		<h3 style="color: green;">The user name or password is wrong</h3>
		<a class="btn btn-primary" href="/login-system">Login again</a>		
	</div>	
</div>

</body>
</html>